@use './reset' as *;
@use './variables' as *;

body {
  font-family: $base-font;
  font-size: $base-font-size;
  color: $des-red;
  background: linear-gradient(135deg, $first-gradient-1, $first-gradient-2);
}

.wrapper {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}

.nav {
  &__logo {
    padding: 1em;

    &-item {
      padding: 1em;
    }
  }
}

.header {
  width: 100%;
  height: 250px;
  &__hero {
    width: 100%;
    height: 100%;
    background-image: url('../../dist/img/hero-mobile.jpg');
    background-position: center;
    background-size: cover;
  }
}

.main {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 2em;
    text-align: center;
  }

  &__title {
    font-size: 3.6rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 0.8em;

    &-bold {
      display: block;
      font-weight: 600;
      color: $dark-red;
    }
  }

  &__text {
    line-height: 160%;
    margin-bottom: 2em;
  }

  &__send {
    position: relative;
    width: 100%;

    &-input {
      width: 100%;
      height: 100%;
      padding: 1em 2em;
      border-radius: 50px;
      border: 1px solid $des-red;
      color: $soft-red;
      font-size: 1.5rem;
      transition: background 0.3s;

      &:focus,
      &:hover {
        outline: none;
        background-color: $input-bg;
      }
    }

    &-error {
      display: none;
      position: absolute;
      right: 25%;
      top: 50%;
      transform: translateY(-50%);
    }

    &-btn {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-51%);
      padding: 0 2.4em;
      height: 100%;
      border: none;
      border-radius: 50px;
      background: linear-gradient(
        135deg,
        $second-gradient-1,
        $second-gradient-2
      );
      cursor: pointer;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      transition: background 0.2s;

      i {
        color: white;
        font-size: 26px;
      }

      &:hover {
        background: linear-gradient(
          30deg,
          $second-gradient-1,
          $second-gradient-1
        );
      }
    }
  }
}

@import './medium';
